.page-2-Contents {
	width: 100%;
	overflow: visible;
	height: auto;
	position: relative;
}

.page-2-contentHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	height: auto;
	position: relative;
	background: url(../images/bg3.jpg) no-repeat center top scroll;
	background-repeat: no-repeat
}	

.page-2-contentHolder .logoHolder {
	width: 100%;
	float: left;
	overflow: visible;
}

.page-2-contentDetailsHolder {
	width: 952px;
	margin: 0px auto;
	float: none;
	overflow: visible;

}

.page-2-ContentDetails {
	width: 100%;
	float: left;
	overflow: hidden;
	height: 750px;
}

.page-2-ContentDetails2 {
	width: 100%;
	float: left;
	overflow: hidden;
	height: 100%;
}

.topTextDetailsHolder2 {
	width: 420px;
	float: right;
	overflow: hidden;
	clear: both;
	margin: 0 0 50px;
}

.topTextDetailsHolder3 {
	width: 420px;
	float: left;
	overflow: hidden;
	clear: both;
	margin: 0 0 50px;	
}

.smallNavigationHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.navigationLabel {
	width: auto;
	float: left;
	overflow: hidden;
	font-weight: 700;
	color: #8c8479;
	margin: 0 10px 0 0;
}

.navigationDownArrow {
	width: auto;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.bigPlantBackGround {
	width: 402px;
	/*height: 973px;*/
	height: 0;
	background-image: url(../images/doodles/page2/ideaplant-stalk1.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: -250px;
	right: 150px;
	z-index: 1;
	background-position: bottom center;
	overflow: visible;
}

.plantDetailsHolder {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: visible;
}

.plantDetails {
	width: 100%;
	float: left;
	overflow: visible;
	display: inline-block;
	position: relative;
	height: 100%;
}

.plantDetails > li {
	position: absolute;
	display: none;
}

.plant1 {
	width: 136px;
	height: 66px;
	background-image: url(../images/doodles/page2/p1.png);
	background-repeat: no-repeat;
	bottom: 220px;
	left: 80px;		
}

.plant2 {
	width: 183px;
	height: 154px;
	background-image: url(../images/doodles/page2/p2.png);
	background-repeat: no-repeat;
	bottom: 365px;
	right: 0px;		
}

.plant3 {
	width: 115px;
	height: 88px;
	background-image: url(../images/doodles/page2/p3.png);
	background-repeat: no-repeat;
	bottom: 400px;
	left: 25px;		
}

.plant4 {
	width: 146px;
	height: 88px;
	background-image: url(../images/doodles/page2/p4.png);
	background-repeat: no-repeat;	
	top: 290px;
	right: 35px;	
}

.plant5 {
	width: 113px;
	height: 123px;
	background-image: url(../images/doodles/page2/p5.png);
	background-repeat: no-repeat;
	top: 265px;
	left: 15px;		
}

.plant6 {
	width: 223px;
	height: 244px;
	background-image: url(../images/doodles/page2/p6.png);
	background-repeat: no-repeat;
	top: 0px;
	right: -25px;		
}