.sortPanel{
	/*margin: 10px;*/
	margin: 10px 0px 100px 0px;
}
.allArticles-sort{
	width: 58px;
	float:left;
}
.allArticles-sortDrop{
	width: 250px;
	float:left;
}
.allArticles-dateForm{
	float:left;
	opacity: 0;
	width: 222px;
	display: none;
	margin: -39px 0px 0px 70px;
}
.label-form{
	display: inline!important;
}
.btnSort{
	width:80px;
	float:right;
}
.author{
	float: right;
	margin: -70px 433px 10px 0px;
	display: none;
	opacity: 0 ;
}
.author>input{
	width: 202px;
	height: 40px;
}
.dsable{
	color:gray!important;
}
.warn{
	margin-top:100px;
}
tbody{
	font-weight: normal;
}
.categoryOption{
	float: right;
	width: 154px;
	margin: 15px 139px 0px 0px;
}
.categoryOption2{
	float: right;
	width: 154px;
	/*margin: 15px 445px 20px 0px;*/
	margin: -35px 400px 20px 0px;
	display: none;
	opacity: 0 ;
}