.socialMediaContainer{
	width: 100%;
	height:100px;
}
.socialMediaHolder{
	margin:0 auto;
	width:50%;
	height:100px;
}
.iconsHolder{
	cursor: pointer;
	margin: 0 auto;
	width: 215px;
}

.iconsHolder img{

margin:25px;

}

